.div-style {
  display: block;
  width: -webkit-fill-available;
  height: fit-content;
  background-color: white;
  border: 1px solid;
  padding: 5px;
}
.left-side {
  display: inline;
  float: left;
}
.right-side {
  display: inline;
  float: right;
  color: red;
}
.li-style {
  /* display: flex;
  flex-direction: row;
  flex-wrap: nowrap; */
  display: inherit;
  margin: 5px;
  padding: 5px;
  color: black;
  text-decoration: none;
}
.li-style:hover {
  color: whitesmoke;
  text-decoration: underline;
  background-color: grey;
}
