.divStyle {
  width: 100vw;
  height: 200px;
  background-color: bisque;
  color: blue;
  border: 1px solid;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
