.divStyle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: -webkit-fill-available;
  height: fit-content;
  background-color: white;
  border: 1px solid;
}
.liStyle {
  color: black;
  text-decoration: none;
}
.liStyle:hover {
  color: blue;
  text-decoration: underline;
}
