.movie-container,
.cell {
  margin: 10px;
}

.movie-info {
  display: flex;
  height: 60vmin;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.movie-story {
  height: 10vmin;
}

.movie-info img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.general-info,
.movie-story,
.movie-info {
  padding: 10px;
}

.cell {
  flex: 1 1 auto;
}

.movie-story {
  margin-top: 10px;
}

.cell,
.movie-story {
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}